
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Plese enter login details below:</h3>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>User Name</label>
        <input type="text"
          class="form-control"
          name="username1"
          placeholder="Enter username"
          [(ngModel)]="username"/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" 
        name="userpassword1" [(ngModel)]="userpassword"/>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>