/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    padding-top: 80px;
}

span.completed {
    color:green;
    font-weight: bold;
    text-decoration: underline;
}

.mr-10 {
    margin-right: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}